# Ignore node_modules directory
/.vscode
vscode
node_modules/
/node_modules/
./node_modules/
dist
/dist
./dist


# Ignore build output directory
public/

# Ignore configuration files
.vite/

# Ignore lock files
yarn.lock

# Ignore environment variables file
*.env
.env
.env.*

# Ignore README file
README.md

# Ignore Prettier configuration files
.prettierrc

# Ignore specific files
index.html
yarn-error.log
